<%= form_for :genre, url:url, method: method do |f| %>
<div class="form_wrapper">
  <div class="row">
    <div class="<%= @form_class %>">
      <%= f.label :iae, "収入か支出か選択してください" %>
      <%= f.select :iae, [["支出",false],["収入",true]], {selected: iae}, class: "form-control", id: "select" %>
    </div>
  </div>

  <div class="row">
    <div class="<%= @form_class %>">
      <%= f.label :name, "名前を入力してください" %>
      <%= f.text_field :name, value: name, class: "form-control", id: "name" %>
    </div>
  </div>

  <%= f.submit "ジャンル作成", class: "btn btn-primary", role: "button" %>
</div>

<% end %>
