<h1>ジャンルを編集</h1>
<%= form_for :genre, url:user_genre_path(params[:user_id], params[:id]), method: :PUT do |f| %>

<div class="row">
  <div class="form-group col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
    <%= f.label :iae, "収入か支出か選択してください" %>
    <%= f.select :iae, @selects, {}, class: "form-control", id: "select" %>
  </div>
</div>

<div class="row">
  <div class="form-group col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
    <%= f.label :name, "名前を入力してください" %>
    <%= f.text_field :name, value: @genre.name, class: "form-control", id: "name" %>
  </div>
</div>

    <%= f.submit "ジャンル編集", class: "btn btn-primary", role: "button" %>

<% end %>
<ul class="nav-list">
  <li class="nav-list-item">
    <%= link_to "ジャンル一覧へ戻る", user_genres_path(params[:user_id]), data: {"turbolinks" => false} %>
  </li>
</ul>
