<h1>ジャンル一覧</h1>
<div class="row">
  <div class="col-xs-12 col-sm-6">

    <h2>支出</h2>
    <div class="col-5 ml-3">
      <table class="table" id="genres">
        <thead>
          <tr>
            <th>名前</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <% @expences.each do |genre| %>
        <tbody>
          <tr>
            <td><%= genre.name %></td>
            <td><%= link_to "編集", edit_user_genre_path(params[:user_id], genre.id) %></td>
            <td><%= link_to "削除", user_genre_path(params[:user_id], genre.id), method: :DELETE, data: {confirm: "削除してよろしいですか？", "turbolinks" => false}  %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>

  </div>

  <div class="col-xs-12 col-sm-6">

    <h2>収入</h2>
    <div class="col-5 ml-3">
      <table class="table" id="genres">
        <thead>
          <tr>
            <th>名前</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <% @incomes.each do |genre| %>
        <tbody>
          <tr>
            <td><%= genre.name %></td>
            <td><%= link_to "編集", edit_user_genre_path(params[:user_id], genre.id) %></td>
            <td><%= link_to "削除", user_genre_path(params[:user_id], genre.id), method: :DELETE, data: {confirm: "削除してよろしいですか？", "turbolinks" => false}  %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>

  </div>

</div>

<ul class="nav-list">
  <li class="nav-list-item">
    <%= link_to "新規ジャンル作成", new_user_genre_path(params[:user_id]) %>
  </li>
</ul>
