<h1>ジャンル一覧</h1>
<div class="">
  支出
</div>
<% @expences.each do |genre| %>
<div class="">
  <%= link_to genre.name, user_genre_path(params[:user_id], genre.id) %>
  <%= link_to "編集", edit_user_genre_path(params[:user_id], genre.id) %>
  <%= link_to "削除", user_genre_path(params[:user_id], genre.id), method: :DELETE, data: { confirm: "削除してよろしいですか？" }  %>
</div>
<% end %>

<div class="">
  収入
</div>
<% @incomes.each do |genre| %>
<div class="">
  <%= link_to genre.name, user_genre_path(params[:user_id], genre.id) %>
  <%= link_to "編集", edit_user_genre_path(params[:user_id], genre.id) %>
  <%= link_to "削除", user_genre_path(params[:user_id], genre.id), method: :DELETE, data: { confirm: "削除してよろしいですか？" }  %>
</div>
<% end %>
<div class="">
  <%= link_to "新規ジャンル作成", new_user_genre_path(params[:user_id]) %>
</div>
