<h1>振替を編集</h1>

<%= form_for :account_exchange, url:user_account_exchange_path(params[:user_id], params[:id]), method: :PUT do |f| %>
  <div class="row">
    <div class="<%= @form_class %>">
      <%= f.label :date, "日付を選択してください", class: "date_label"%>
      <%= f.date_select :date, {selected: @account_exchange.date}, class: "form-control", id: "date" %>
    </div>
  </div>

  <div class="row">
    <div class="<%= @form_class %>">
      <%= f.label :bname, "振替もとアカウントを選択してください" %>
      <%= f.select :bname, @bnames, {}, class: "form-control", id: "select" %>
    </div>
  </div>

  <div class="row">
    <div class="<%= @form_class %>">
      <%= f.label :aname, "振替先アカウントを入力してください" %>
      <%= f.select :aname, @anames, {}, class: "form-control", id: "select" %>
    </div>
  </div>

  <div class="row">
    <div class="<%= @form_class %>">
      <%= f.label :value, "振替金額を入力してください" %>
      <%= f.text_field :value, value: @account_exchange.value, class: "form-control", id: "value" %>
    </div>
  </div>

  <% if @before_credit %>
    <div class="row">
      <div class="<%= @form_class %>">
        <%= f.label :pay_date, "引き落とし月を選択してください", class: "date_label" %>
        <%= f.date_select :pay_date, {discard_day:true, selected: @account_exchange.pay_date}, class: "form-control", id: "date" %>
      </div>
    </div>
  <% end %>

    <%= f.submit "振替を編集する", class: "btn btn-primary", role: "button" %>

<% end %>

<ul class="nav-list">
  <li class="nav-list-item">
    <%= link_to "振替履歴一覧へ戻る", user_account_exchanges_path %>
  </li>
</ul>
