<h1>振替履歴一覧</h1>
<% @account_exchanges.each do |account_exchange| %>
  <div class="">
    <%= account_exchange.date %>
  </div>
  <div class="">
    <%= account_exchange.bname %> → <%= account_exchange.aname %>
    ¥<%= account_exchange.value %>
    <%= link_to "削除", user_account_exchange_path(params[:user_id], account_exchange.id), method: :DELETE, data: { confirm: "削除してよろしいですか？" } %>
    <%= link_to "編集", edit_user_account_exchange_path(params[:user_id], account_exchange.id) %>
  </div>
<% end %>
<div class="">
  <%= link_to "アカウント一覧へ戻る", user_accounts_path %>
</div>
