<h1>新規振替</h1>
<% names=[] %>
<% @accounts.each do |account| %>
  <% name=["#{account.name}","#{account.name}"] %>
  <% names.push(name) %>
<% end %>

<%= form_for :account_exchange, url:user_account_exchanges_path do |f| %>
  <div class="">
    <%= f.label :date, "日付を選択してください" %>
  </div>
  <div class="">
    <%= f.date_select :date, {} %>
  </div>
  <div class="">
    <%= f.label :bname, "振替もとアカウントを選択してください" %>
  </div>
  <div class="">
    <%= f.select :bname, names %>
  </div>
  <div class="">
    <%= f.label :aname, "振替先アカウントを入力してください" %>
  </div>
  <div class="">
    <%= f.select :aname, names %>
  </div>
  <div class="">
    <%= f.label :value, "振替金額を入力してください" %>
  </div>
  <div class="">
    <%= f.text_field :value %>
  </div>
  <div class="">
    <%= f.submit "新規振替" %>
  </div>
<% end %>
