<h1>新規振替</h1>

  <%= form_for :account_exchange, url:user_account_exchanges_path do |f| %>
  <div class="form_wrapper">
    <div class="row">
      <div class="<%= @form_class %>">
        <%= f.label :date, "日付を選択してください", class: "date_label" %>
        <%= f.date_select :date, {}, class: "form-control", id: "date" %>
      </div>
    </div>

    <div class="row">
      <div class="<%= @form_class %>">
        <%= f.label :bname, "振替もとアカウントを選択してください" %>
        <%= f.select :bname, @bnames, {include_blank: '選択ボックス'}, class: "form-control", id: "select" %>
      </div>
    </div>

    <div class="row">
      <div class="<%= @form_class %>">
        <%= f.label :aname, "振替先アカウントを入力してください" %>
        <%= f.select :aname, @anames, {include_blank: '選択ボックス'}, class: "form-control", id: "select" %>
      </div>
    </div>

    <div class="row">
      <div class="<%= @form_class %>">
        <%= f.label :value, "振替金額を入力してください" %>
        <%= f.text_field :value, class: "form-control", id: "value" %>
      </div>
    </div>


    <%= f.submit "新規振替", class: "btn btn-primary", role: "button" %>
  </div>

  <% end %>
