<h1>イベント編集</h1>
    <% if @event.iae==false %>
    <div>
      <ul class="nav nav-tabs" role="tablist">
        <li class="active" role="presentation">
          <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">支出</a>
        </li>
        <li role="presentation">
          <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">収入</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="tab_a" role="tabpanel">
            <%= form_for :event, url:user_events_up1_path(params[:user_id], params[:id]), method: :PUT do |f| %>

            <div class="form-group">
              <%= f.label :date, "日付を選択してください", class: "date_label" %>
              <%= f.date_select :date, {}, selected: @event.date, class: "form-control", id: "date" %>
            </div>

            <div class="form-group">
              <%= f.label :genre, "ジャンルを選択してください" %>
              <%= f.select :genre, @genres_e,{include_blank: '選択ボックス'}, class: "form-control", id: "select" %>
            </div>

            <div class="form-group">
              <%= f.label :account, "アカウントを選択してください" %>
              <%= f.select :account, @accounts, {include_blank: '選択ボックス'}, class: "form-control", id: "select" %>
            </div>

            <div class="form-group">
              <%= f.label :memo, "メモ" %>
              <%= f.text_field :memo, memo: @event.memo, class: "form-control", id: "text" %>
            </div>

            <div class="form-group">
              <%= f.label :value, "金額を入力してください" %>
              <%= f.text_field :value, value: @event.value, class: "form-control", id: "value" %>
            </div>

            <%= f.submit "イベント登録", class: "btn btn-primary", role: "button" %>

            <% end %>
        </div>

        <div class="tab-pane" id="tab_b" role="tabpanel">
            <%= form_for :event, url:user_events_up2_path(params[:user_id], params[:id]), method: :PUT do |f| %>

            <div class="form-group">
              <%= f.label :date, "日付を選択してください", class: "date_label" %>
              <%= f.date_select :date, {}, selected: @event.date, class: "form-control", id: "date" %>
            </div>

            <div class="form-group">
              <%= f.label :genre, "ジャンルを選択してください" %>
              <%= f.select :genre, @genres_i,{include_blank: '選択ボックス'}, class: "form-control", id: "select" %>
            </div>

            <div class="form-group">
              <%= f.label :account, "アカウントを選択してください" %>
              <%= f.select :account, @accounts, {include_blank: '選択ボックス'}, class: "form-control", id: "select" %>
            </div>

            <div class="form-group">
              <%= f.label :memo, "メモ" %>
              <%= f.text_field :memo, memo: @event.memo, class: "form-control", id: "text" %>
            </div>

            <div class="form-group">
              <%= f.label :value, "金額を入力してください" %>
              <%= f.text_field :value, value: @event.value, class: "form-control", id: "value" %>
            </div>

            <%= f.submit "イベント登録", class: "btn btn-primary", role: "button" %>

            <% end %>
        </div>
      </div>
    </div>
    <% else %>
    <div>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation">
          <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">支出</a>
        </li>
        <li class="active" role="presentation">
          <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">収入</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane" id="tab_a" role="tabpanel">
            <%= form_for :event, url:user_events_up1_path(params[:user_id], params[:id]), method: :PUT do |f| %>

            <div class="form-group">
              <%= f.label :date, "日付を選択してください", class: "date_label" %>
              <%= f.date_select :date, {}, selected: @event.date, class: "form-control", id: "date" %>
            </div>

            <div class="form-group">
              <%= f.label :genre, "ジャンルを選択してください" %>
              <%= f.select :genre, @genres_e,{include_blank: '選択ボックス'}, class: "form-control", id: "select" %>
            </div>

            <div class="form-group">
              <%= f.label :account, "アカウントを選択してください" %>
              <%= f.select :account, @accounts, {include_blank: '選択ボックス'}, class: "form-control", id: "select" %>
            </div>

            <div class="form-group">
              <%= f.label :memo, "メモ" %>
              <%= f.text_field :memo, memo: @event.memo, class: "form-control", id: "text" %>
            </div>

            <div class="form-group">
              <%= f.label :value, "金額を入力してください" %>
              <%= f.text_field :value, value: @event.value, class: "form-control", id: "value" %>
            </div>

            <%= f.submit "イベント登録", class: "btn btn-primary", role: "button" %>

            <% end %>
        </div>

        <div class="tab-pane active" id="tab_b" role="tabpanel">
            <%= form_for :event, url:user_events_up2_path(params[:user_id], params[:id]), method: :PUT do |f| %>

            <div class="form-group">
              <%= f.label :date, "日付を選択してください", class: "date_label" %>
              <%= f.date_select :date, {}, selected: @event.date, class: "form-control", id: "date" %>
            </div>

            <div class="form-group">
              <%= f.label :genre, "ジャンルを選択してください" %>
              <%= f.select :genre, @genres_i,{include_blank: '選択ボックス'}, class: "form-control", id: "select" %>
            </div>

            <div class="form-group">
              <%= f.label :account, "アカウントを選択してください" %>
              <%= f.select :account, @accounts, {include_blank: '選択ボックス'}, class: "form-control", id: "select" %>
            </div>

            <div class="form-group">
              <%= f.label :memo, "メモ" %>
              <%= f.text_field :memo, memo: @event.memo, class: "form-control", id: "text" %>
            </div>

            <div class="form-group">
              <%= f.label :value, "金額を入力してください" %>
              <%= f.text_field :value, value: @event.value, class: "form-control", id: "value" %>
            </div>

            <%= f.submit "イベント登録", class: "btn btn-primary", role: "button" %>

            <% end %>
        </div>
      </div>
    </div>
    <% end %>

    <ul class="nav-list">
      <li class="nav-list-item">
        <%= link_to "イベント一覧へ戻る", user_events_path, data: {"turbolinks" => false} %>
      </li>
    </ul>
