<h1>履歴</h1>

<div class="col-5 ml-3">
  <table class="table" id="table_events">
    <thead>
      <tr>
        <th>日付</th>
        <th>ジャンル</th>
        <th>アカウント</th>
        <th>メモ</th>
        <th>金額</th>
        <th>引き落とし日</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <% a=0 %>
    <% @events.each do |event| %>
    <tbody>
      <% if event.iae==false %>
        <tr class="false">
          <% if event.date != a %>
            <td>
              <%= event.date.year %>/<%= event.date.month %>/<%= event.date.day %>
            </td>
          <% else %>
            <td>
            </td>
          <% end %>

          <td><%= event.genre %></td>
          <td><%= event.account %></td>

          <% if event.memo %>
            <td><%= event.memo %></td>
          <% else %>
            <td>
            </td>
          <% end %>

          <td>
           ¥-<%= event.value.to_s(:delimited) %>
          </td>

          <% if event.pay_date %>
            <td>
              <%= "#{event.pay_date.year}/#{event.pay_date.month}/#{event.pay_date.day}" %>
            </td>
          <% else %>
            <td>
            </td>
          <% end %>

          <td>
            <%= link_to "削除", user_event_path(params[:user_id], event.id), method: :DELETE, data: {confirm: "削除してよろしいですか？", "turbolinks" => false} %>
          </td>
          <td>
            <%= link_to "編集", edit_user_event_path(params[:user_id], event.id), data: {"turbolinks" => false} %>
          </td>
          <% a=event.date %>
        </tr>
      <% else %>
        <tr class="true">
          <% if event.date != a %>
            <td>
              <%= event.date.year %>/<%= event.date.month %>/<%= event.date.day %>
            </td>
          <% else %>
            <td>
            </td>
          <% end %>

          <td><%= event.genre %></td>
          <td><%= event.account %></td>

          <% if event.memo %>
            <td><%= event.memo %></td>
          <% else %>
            <td>
            </td>
          <% end %>

          <td>
           ¥<%= event.value.to_s(:delimited) %>
          </td>

          <td></td>

          <td>
            <%= link_to "削除", user_event_path(params[:user_id], event.id), method: :DELETE, data: {confirm: "削除してよろしいですか？", "turbolinks" => false} %>
          </td>
          <td>
            <%= link_to "編集", edit_user_event_path(params[:user_id], event.id), data: {"turbolinks" => false} %>
          </td>
          <% a=event.date %>
        </tr>
      <% end %>
    </tbody>
    <% end %>
    <%= will_paginate @events %>
  </table>
</div>
<%= will_paginate @events %>
