<h1>履歴</h1>
<div class="search-h">検索する</div>
<div class="search_wrapper" id="search_close">
  <%= form_tag(user_search_path,:method => 'get', class: "form1") do %>
    <div class="row">
      <div class="search-memo col-xs-12 col-sm-6 col-sm-offset-3">
        <%= text_field_tag :search, "", {placeholder: "メモで検索", class: "form-control", id: "name"} %>
      </div>
    </div>
      <%= submit_tag '検索', class: "btn btn-primary", role: "button" %>
  <% end %>
</div>

<div class="table_contents">
  <div class="table-responsive">
    <table class="table" id="table_events">
      <thead>
        <tr>
          <th>日付</th>
          <th>ジャンル</th>
          <th>アカウント</th>
          <th>メモ</th>
          <th>金額</th>
          <th>引き落とし日</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <% a=0 %>
      <% @events.each do |event| %>
      <tbody>
        <% if event.iae==false %>
        <tr class="false">
          <% if event.date != a %>
          <td>
            <%= event.date.year %>/<%= event.date.month %>/<%= event.date.day %>
          </td>
          <% else %>
          <td>
          </td>
          <% end %>

          <td><%= event.genre %></td>
          <td><%= event.account %></td>

          <% if event.memo %>
          <td><%= event.memo %></td>
          <% else %>
          <td>
          </td>
          <% end %>

          <td>
            ¥-<%= event.value.to_s(:delimited) %>
          </td>

          <% if event.pay_date %>
          <td>
            <%= "#{event.pay_date.year}/#{event.pay_date.month}/#{event.pay_date.day}" %>
          </td>
          <% else %>
          <td>
          </td>
          <% end %>

          <td>
            <%= link_to "削除", user_event_path(params[:user_id], event.id), method: :DELETE, data: {confirm: "削除してよろしいですか？", "turbolinks" => false} %>
          </td>
          <td>
            <%= link_to "編集", edit_user_event_path(params[:user_id], event.id) %>
          </td>
          <% a=event.date %>
        </tr>
        <% else %>
        <tr class="true">
          <% if event.date != a %>
          <td>
            <%= event.date.year %>/<%= event.date.month %>/<%= event.date.day %>
          </td>
          <% else %>
          <td>
          </td>
          <% end %>

          <td><%= event.genre %></td>
          <td><%= event.account %></td>

          <% if event.memo %>
          <td><%= event.memo %></td>
          <% else %>
          <td>
          </td>
          <% end %>

          <td>
            ¥<%= event.value.to_s(:delimited) %>
          </td>

          <td></td>

          <td>
            <%= link_to "削除", user_event_path(params[:user_id], event.id), method: :DELETE, data: {confirm: "削除してよろしいですか？", "turbolinks" => false} %>
          </td>
          <td>
            <%= link_to "編集", edit_user_event_path(params[:user_id], event.id) %>
          </td>
          <% a=event.date %>
        </tr>
        <% end %>
      </tbody>
      <% end %>
      <%= will_paginate @events %>
    </table>
  </div>
</div>
<%= will_paginate @events %>
