<h1>新規イベント作成</h1>
<div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active" role="presentation">
      <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">支出</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">収入</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab_a" role="tabpanel">
      <%= form_for :event, url:user_events1_path do |f| %>

      <div class="row">
        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
          <%= f.label :date, "日付を選択してください", class: "date_label" %>
          <%= f.date_select :date, {}, class: "form-control", id: "date" %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
          <%= f.label :genre, "ジャンルを選択してください" %>
          <%= f.select :genre, @genres_e,{include_blank: '選択ボックス'}, class: "form-control", id: "select" %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
          <%= f.label :account, "アカウントを選択してください" %>
          <%= f.select :account, @accounts, {include_blank: '選択ボックス'}, class: "form-control", id: "select" %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
          <%= f.label :memo, "メモ" %>
          <%= f.text_field :memo, class: "form-control", id: "text" %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
          <%= f.label :value, "金額を入力してください" %>
          <%= f.text_field :value, class: "form-control", id: "value" %>
        </div>
      </div>

        <%= f.submit "イベント登録", class: "btn btn-primary", role: "button" %>

      <% end %>
    </div>
    <div class="tab-pane" id="tab_b" role="tabpanel">
      <%= form_for :event, url:user_events2_path do |f| %>
      <div class="row">
        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
          <%= f.label :date, "日付を選択してください", class: "date_label" %>
          <%= f.date_select :date, {}, class: "form-control", id: "date" %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
          <%= f.label :genre, "ジャンルを選択してください" %>
          <%= f.select :genre, @genres_i,{include_blank: '選択ボックス'}, class: "form-control", id: "select" %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
          <%= f.label :account, "アカウントを選択してください" %>
          <%= f.select :account, @accounts, {include_blank: '選択ボックス'}, class: "form-control", id: "select" %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
          <%= f.label :memo, "メモ" %>
          <%= f.text_field :memo, class: "form-control", id: "text" %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
          <%= f.label :value, "金額を入力してください" %>
          <%= f.text_field :value, class: "form-control", id: "value" %>
        </div>
      </div>

        <%= f.submit "イベント登録", class: "btn btn-primary", role: "button" %>

      <% end %>
    </div>
  </div>
</div>

<ul class="nav-list">
  <li class="nav-list-item">
    <%= link_to "イベント一覧へ戻る", user_events_path, data: {"turbolinks" => false} %>
  </li>
</ul>
