<h1>クレジットカード一覧</h1>

<div class="account">
  <p>こちらではクレジットカードの登録<br/>(連携アカウント、締め日、引き落とし日の登録)ができます。</p>
  <div class="new_account">
    <li><%= link_to "クレジットカード作成", new_user_credit_path %></li>
  </div>
</div>

<div class="row">
  <div class="table_contents col-xs-12 col-sm-offset-2 col-sm-8">
    <div class="table-responsive">
      <table class="table" id="table_accounts">
        <thead>
          <tr>
            <th>名前</th>
            <th>引き落とし先アカウント</th>
            <th>引き落とし日</th>
            <th>締め日</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <% @credits.each do |credit| %>

        <tbody>
          <tr>
            <td><%=credit.name %></td>
            <td><%= credit.account %></td>
            <td><%= credit.pay_date %></td>
            <td><%= credit.month_date %></td>
            <td><%=link_to "詳細", user_credit_path(params[:user_id], :id => credit.id) %></td>
            <td><%=link_to "削除", user_credit_path(params[:user_id], :id => credit.id), method: :DELETE, data: {confirm: "削除してよろしいですか？", "turbolinks" => false} %></td>
            <td><%=link_to "編集", edit_user_credit_path(params[:user_id], :id => credit.id) %></td>
          </tr>
        </tbody>

        <% end %>

      </table>
    </div>
  </div>
</div>
