<!DOCTYPE html>
<html>
  <head>
    <title>MoneyBook</title>
    <%= csrf_meta_tags %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <header class="">
      <div class="container">
        <% if user_signed_in? %>

          <h1><%= link_to "Money Book", user_events_path(current_user) %></h1>

          <%= link_to "新規アカウント作成", new_user_account_path(params[:user_id]) %>
          <%= link_to "新規ジャンル作成", new_user_genre_path(params[:user_id]) %>
          <%= link_to "新規振替", new_user_account_exchange_path(params[:user_id]) %>
          <%= link_to "振替履歴", user_account_exchanges_path(params[:user_id]) %>
          <%= link_to "ジャンル一覧", user_genres_path(params[:user_id]) %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>

        <% else %>

        <div class="header-loga">
          <%= link_to "Money Book", root_path %>
        </div>

        <% end %>

      </div>
    </header>

    <%= yield %>

  </body>
</html>
