<!DOCTYPE html>
<html>
  <head>
    <title>MoneyBook</title>
    <%= csrf_meta_tags %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="wrapper">
    <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <header>

      <div class="container">
        <% if user_signed_in? %>

          <h1 class="headline">
            <%= link_to "Money Book", user_events_path(current_user), data: {"turbolinks" => false} %>
          </h1>

          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
              Menu
            </button>
            <div class="dropdown-menu dropdown-menu-left">
                <li class="nav-list-item"><%= link_to "HOME", user_events_path(current_user), data: {"turbolinks" => false} %></li>
                <li class="nav-list-item"><%= link_to "新規アカウント作成", new_user_account_path(current_user), data: {"turbolinks" => false} %></li>
                <li class="nav-list-item"><%= link_to "新規ジャンル作成", new_user_genre_path(current_user), data: {"turbolinks" => false} %></li>
                <li class="nav-list-item"><%= link_to "新規振替", new_user_account_exchange_path(current_user), data: {"turbolinks" => false} %></li>
                <li class="nav-list-item"><%= link_to "振替履歴", user_account_exchanges_path(current_user), data: {"turbolinks" => false} %></li>
                <li class="nav-list-item"><%= link_to "ジャンル一覧", user_genres_path(current_user), data: {"turbolinks" => false} %></li>
                <li class="nav-list-item"><%= link_to "登録情報", edit_user_registration_path, data: {"turbolinks" => false} %></li>
                <li class="nav-list-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: {"turbolinks" => false} %></li>
            </div>
          </div>

        <% else %>

        <h1 class="headline"><%= link_to "Money Book", root_path, data: {"turbolinks" => false} %></h1>
        <ul class="nav-list" id="unlogin1">
              <li class="nav-list-item" id="unlogin2"><%= link_to "新規会員登録", new_user_registration_path, data: {"turbolinks" => false} %></li>
              <li class="nav-list-item" id="unlogin2"><%= link_to "ログイン", new_user_session_path, data: {"turbolinks" => false} %></li>
        </ul>

        <% end %>

      </div>
    </header>
    <% if user_signed_in? %>
      <ul class="nav-list">
        <li class="nav-list-item">
          <button type="button" class="btn btn-primary">
              <%= link_to "残高", user_accounts_path(current_user), data: {"turbolinks" => false} %>
          </button>
        </li>

        <li class="nav-list-item">
          <button type="button" class="btn btn-primary">
            <%= link_to "新規イベント作成", new_user_event_path(current_user), data: {"turbolinks" => false} %>
          </button>
        </li>
      </ul>
    <% end %>

    <%= yield %>

    <footer>
      <% if user_signed_in? %>
      <ul class="nav-list">
        <li class="nav-list-item" id="footer_home"><%= link_to "HOME", user_events_path(current_user), data: {"turbolinks" => false} %></li>
      </ul>
      <ul class="nav-list">
        <li class="nav-list-item"><%= link_to "新規イベント作成", new_user_event_path(current_user), data: {"turbolinks" => false} %></li>
        <li class="nav-list-item"><%= link_to "残高", user_accounts_path(current_user) %></li>
        <li class="nav-list-item"><%= link_to "新規アカウント作成", new_user_account_path(current_user), data: {"turbolinks" => false} %></li>
        <li class="nav-list-item"><%= link_to "新規ジャンル作成", new_user_genre_path(current_user), data: {"turbolinks" => false} %></li>
        <li class="nav-list-item"><%= link_to "新規振替", new_user_account_exchange_path(current_user), data: {"turbolinks" => false} %></li>
        <li class="nav-list-item"><%= link_to "振替履歴", user_account_exchanges_path(current_user), data: {"turbolinks" => false} %></li>
        <li class="nav-list-item"><%= link_to "ジャンル一覧", user_genres_path(current_user), data: {"turbolinks" => false} %></li>
        <li class="nav-list-item"><%= link_to "登録情報", edit_user_registration_path, data: {"turbolinks" => false} %></li>
        <li class="nav-list-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: {"turbolinks" => false} %></li>
      </ul>
      <% end %>
    	<p>© All rights reserved by Nagai Shogo</p>
    </footer>
  </div>
  </body>
</html>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
