<h1>統計情報</h1>

<div class="account">
  <% if current_user.accounts==[] %>
  <p>まずはこちらからアカウント(銀行、現金、電子マネーなど)を追加しましょう。</p>
  <% end %>
  <div class="new_account">
    <li><%= link_to "アカウント追加", new_user_account_path %></li>
  </div>
  <div class="account_exchange">
    <li><%= link_to "新規振替", new_user_account_exchange_path %></li>
    <li><%= link_to "振替履歴", user_account_exchanges_path %></li>
    <p>こちらではアカウント間のお金の移動ができます。</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h2>残高</h2>
    <div class="table_contents">
      <div class="table-responsive">
        <table class="table" id="table_accounts">
          <thead>
            <tr>
              <th>現在残高</th>
              <th>引き落とし後の残高</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>¥<%= @total.to_s(:delimited) %></td>
              <td>¥<%= @total_after.to_s(:delimited) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <h2>アカウント残高</h2>

    <div class="table_contents">
      <div class="table-responsive">
        <table class="table" id="table_accounts">
          <thead>
            <tr>
              <th>アカウント</th>
              <th>金額</th>
              <th>引き落とし後の金額</th>
              <th></th>
            </tr>
          </thead>

          <% @accounts_all.each do |account_all| %>

          <tbody>
            <tr>
              <td><%= account_all[1] %></td>
              <td>¥<%= account_all[2].to_s(:delimited) %></td>
              <td>¥<%= account_all[3].to_s(:delimited) %></td>
              <td><%= link_to "削除", user_account_path(params[:user_id], account_all[0]), method: :DELETE, data: {confirm: "削除してよろしいですか？", "turbolinks" => false} %></td>
            </tr>
          </tbody>

          <% end %>

        </table>
      </div>
    </div>
  </div>
</div>

<h2>月ごとの収支</h2>

<% if @events!=[] %>

<div class="table_contents">
  <div class="table-responsive">
    <table class="table" id="pm">
      <thead>
        <tr>
          <th>年</th>
          <th class="border-right">月</th>
          <th>収入</th>
          <th class="border-right">支出</th>
          <th>収支</th>
        </tr>
      </thead>

      <% a=0 %>
      <% @month_pm_paginate.each do |month_pm_genre| %>

      <tbody>
        <tr>
          <% if a != month_pm_genre[:year] %>
          <td><%= month_pm_genre[:year] %>年</td>
          <% else %>
          <td></td>
          <% end %>

          <td class="border-right"><%= month_pm_genre[:month] %>月</td>
          <td>¥<%= month_pm_genre[:in].to_s(:delimited) %></td>
          <td class="border-right">¥-<%= month_pm_genre[:out].to_s(:delimited) %></td>
          <td>¥<%= month_pm_genre[:pm].to_s(:delimited) %></td>
        </tr>
      </tbody>

      <% a=month_pm_genre[:year] %>
      <% end %>

      <%= will_paginate @month_pm_paginate, param_name: :month %>
    </table>
  </div>
</div>

<% else %>

<p>まだイベントがありません</p>
<% end %>

<h2>年ごとの収支</h2>
<% if @events!=[] %>
<div class="table_contents">
  <div class="table-responsive">
    <table class="table" id="pm">
      <thead>
        <tr>
          <th class="border-right">年</th>
          <th>収入</th>
          <th class="border-right">支出</th>
          <th>収支</th>
        </tr>
      </thead>

      <% @year_pm_paginate.each do |year_pm_genre| %>
      <tbody>
        <tr>
          <td class="border-right"><%= year_pm_genre[:year] %>年</td>
          <td>¥<%= year_pm_genre[:in].to_s(:delimited) %></td>
          <td class="border-right">¥-<%= year_pm_genre[:out].to_s(:delimited) %></td>
          <td>¥<%= year_pm_genre[:pm].to_s(:delimited) %></td>
        </tr>
      </tbody>

      <% end %>
      <%= will_paginate @year_pm_paginate, param_name: :year %>
    </table>
  </div>

</div>

<% else %>

<p>まだイベントがありません</p>

<% end %>