<h1>統計情報</h1>

<h2>残高</h2>
<div class="">
  ¥<%= @total %>
</div>

<h2>アカウント残高</h2>
<% @accounts.each do |account| %>
  <div class="">
    <%= account.name %>
    ¥<%= account.value %>
    <%= link_to "削除", user_account_path(params[:user_id], account.id), method: :DELETE, data: { confirm: "削除してよろしいですか？" } %>
  </div>
<% end %>

<div class="">
  <%= link_to "新規振替", new_user_account_exchange_path(params[:user_id]) %>
</div>

<div class="">
  <%= link_to "アカウント新規作成", new_user_account_path(params[:user_id]) %>
</div>

<div class="">
  <%= link_to "振替履歴", user_account_exchanges_path(params[:user_id]) %>
</div>

<h2>月ごとの収支</h2>
<div class="">
  <% @pm_year.each do |pm_month| %>
    <%= pm_month[0] %>年
    <% pm_month[1].each do |pm| %>
      <div class="">
        <%= pm[0] %>月
        <%= pm[1].to_i %>
      </div>
    <% end %>
  <% end %>
</div>
